/* TABLE */
.pure-table td {
    margin-top: 30px;
    padding: 0.5rem;
    color: #000;
    font-size: 11px;
    border-left: 0px;
    display: inline-flex;

}

.pure-menu-list {
    display: flex;
    justify-content: end;
}

tbody {
    display: flex;
    justify-content: center;
}

.pure-table td img { 
    width: 45px;
   
}

.grid-row-1 {

    display: grid;
    grid-template-columns:  50% 50%;    
    
}

.grid-col-1 {

    display: grid;
    align-items: center;
    border: solid 2px;
    margin: 5%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 5%;
    text-align: center;
    
}
    