.inner-container {
    background-color: #f6f6f6;
}

.grid-row {
    display: grid;
    grid-template-columns: 50% 50%;    
}
.grid-row h2 {
    margin-left: 5%;
}
.grid-col {
    
    text-align: center;   
}
.inner-container {
    border: solid;
    margin: 5%;
    padding-top: 2%;
    padding-right: 8%;
    padding-bottom: 5%;
}

#awayTeam-image {
    justify-self: center;
}
#away-team {
    margin-top: 30px;
    text-align: center;
    font-size: large;
}
#homeTeam-image {
    justify-self: center;
}
#home-team {
    margin-top: 30px;
    text-align: center;
    font-size: large;
}
#team-info {
    margin-left: 5%;
    font-weight: bold;
}
